<div *ngIf="!showForm">
    <div>
        <span>Nombre Cuenta</span>
        <span>Numero cuenta</span>
        <span>Editar</span>
        <span>Eliminar</span>
    </div>
    <div *ngFor="let account of accountList; let i = index">
        <span>{{account.nombre}}</span>
        <span>{{account.numero}}</span>
        <span><a (click)="editar(account)">1</a></span>
        <span><a (click)="eliminar(i)">1</a></span>
    </div>
    <a (click)="showForm = true">Agragar Cuenta</a>
</div>
<form *ngIf="showForm">
    <span>Agregar Cuenta</span>
    <div>
        <label for="Nombre"></label>
        <input type="text" name="nombre" [(ngModel)]="cuenta.nombre" placeholder="usuario">
    </div>
    <div>
        <label for="Numero"></label>
        <input type="text" name="numero" [(ngModel)]="cuenta.numero" class="contraseña">
    </div>
    <button type="button" (click)="submit()">Ingresar</button>
</form>
